/*variables*/

:root {

--white: #ffffff;
--black : #000000;
--light-grey : #f8f9fa;
--grey : #999999;
--strong-grey : #4a4a4b;
--green : #a2c0be;
--strong-green : #567876;
--orange : #ff9900;

}


/*style général du document*/

* {

    font-family: 'Open Sans', sans-serif;
    font-size: 16 px;
    margin: 0;
}

.point {

    font-weight: bold;
    color: var(--orange);
}



/*header-nav*/


nav {

    height: 800px;
    background-color: var(--light-grey);
}

.container {

    width: 60%;
    margin: auto;
    
    }

    nav .container {
        display: flex;
        justify-content: space-between; 
        align-items: center;           
       
    }


   #logo {
    font-weight: 600;
    color:var(--black);
    font-size: 1.5em;
  

    }

    nav a {
        
        text-decoration: none;
        font-weight: 400;
        color: var(--strong-grey);
        transition: background-color 500ms;
            
    }


    nav a:hover {
        color: var(--grey);
        transition: background-color 500ms;

    }


    nav ul {
        display: flex; 
        list-style: none;
        gap :20px;
        
    }


    /*section chien et slogan*/

    .container img {

        width: auto;
        height: 660px;
        margin-top: 85px;
        margin-left: 30px;
    }





    section .container {
    display: flex;
    align-items: center;
    gap: 50px;
   
   }

  
   .container h1 {
   font-size: 4em;
   font-weight: 400;
   text-align: left;
   width: 800px;
   text-overflow: ellipsis;
    overflow: hidden;
    margin: 0;
   }


    .container p {
    font-weight: 300;
    text-align: left;
    color : var(--grey);

    }
  
    


    /*section chien et slogan*/

main #contenu {
    
    display: block;
    
}


main #contenu h3 {

    text-align: center;
}


main #contenu p {

    text-align: center;
    white-space: pre-wrap;
}


main section {

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 150px;
    margin: 150px 0;
    
}

main .miniatures {

    width: 60%;
    height: auto;
    box-shadow: 5px 5px 1px 0.2px var(--green);
    
}


  main .btn {

color: var(--white);
text-decoration: none;
background-color: var(--green);
padding: 15px 30px;  
border-radius: 100px;
margin-top: 40px;
transition: background-color 500ms;

  }


  main .btn:hover {

    
    background-color: black;
    transition: background-color 500ms;
    
    
    
      }




  .container section p {

    white-space: normal;
    margin-bottom: 40px;
    
  }


  .container #contenu h3 {

    margin-bottom: 20px;
    font-size: 32px;

  }
  

  .container section h3 {

    margin-bottom: 20px;
    font-size: 25px;
  }



    /*footer*/

    footer  {
        
        background-color: var(--strong-grey);
        height: 75px;
        
        
          
    }

    footer p {

        text-align: center;
        color: var(--light-grey);
        transform: translateY(30px);
        font-weight: 300;
        
        
    }
    